<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-idepix-algorithms</symbolicName>
    <version>2.2.45-SNAPSHOT</version>
    <name>Idepix Algorithms</name>
    <description>
        Idepix algorithms module. Idepix is a generic pixel identification and classification algorithm for optical
        Earth observation sensors.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <b>Version 2.2.45:</b>
        Fixed flag shifting which was introduced in v2.2.44
        <b>Version 2.2.44:</b>
        Dark glint threshold now as separate user options for cloud sure and cloud ambiguous in MODIS part
        <b>Version 2.2.43:</b>
        Added NN thresholds as user option in MODIS part
        <b>Version 2.2.42:</b>
        Supports sea ice edge computation noq also from L3 product on latlon grid
        <b>Version 2.2.41:</b>
        Added mode in OC-CCI algorithm to detect sea ice edge from L3 sea ice product
        <b>Version 2.2.40:</b>
        Fixed a flag shifting introduced in v2.2.38-SNAPSHOT (cloud shadow flag was overwritten by cloud buffer)
        <b>Version 2.2.39:</b>
        Added user option to write CTP band to Idepix product
        <b>Version 2.2.38:</b>
        Fixes and cleanup of Rad2Refl conversion usage
        <b>Version 2.2.37:</b>
        Fixes and cleanup in MERIS sea ice detection proposed by M.Paperin
        <b>Version 2.2.36:</b>
        Implemented new sea ice detection proposed by M.Paperin
        <b>Version 2.2.35:</b>
        Disabled new haze flag in Proba-V cloud classification
        <b>Version 2.2.34:</b>
        Revised Proba-V cloud classification
        <b>Version 2.2.33:</b>
        Added new Schiller NN in OC-CCI sea ice algorithm
        <b>Version 2.2.32:</b>
        Fixed cloud sure/ambiguous separation in Landsat8 algorithm
        <b>Version 2.2.31:</b>
        Introduced VIIRS instrument in OC-CCI algorithm
        <b>Version 2.2.30:</b>
        Introduced post-processing for VGT in GlobAlbedo algorithm
        <b>Version 2.2.29:</b>
        Taken AATSR back on board in GlobAlbedo algorithm
        <b>Version 2.2.28:</b>
        Fix in post-processing in Proba-V algorithm
        <b>Version 2.2.22 - 2.2.27:</b>
        Several neural nets for OC-CCI MERIS sea ice, various Proba-V refinements
        <b>Version 2.2.21:</b>
        Use NN instead of MDSI test in MERIS sea ice approach; write cloud_prob and meris_1600 to target product
        <b>Version 2.2.20:</b>
        Improved radiance-to-BT conversion in AVHRR USGS in Avhrr-Ac algorithm
        <b>Version 2.2.19:</b>
        Improved PROBA-V support in Globalbedo algorithm
        <b>Version 2.2.18:</b>
        Extended PROBA-V support in Globalbedo algorithm (postprocessing)
        <b>Version 2.2.17:</b>
        Started PROBA-V support in Globalbedo algorithm (GK/JM)
        <b>Version 2.2.16:</b>
        Completely renewed snow/ice classification for AVHRR (GK/JM)
        <b>Version 2.2.15:</b>
        Added MERIS support in OC-CCI algorithm to prepare for new MERIS/AATSR-based seaice classification.
        <b>Version 2.2.14:</b>
        Extending AVHRR algorithm.
        <b>Version 2.2.13:</b>
        Support for SeaWiFS L1C in OC-CCI algorithm.
        <b>Version 2.2.12:</b>
        Re-activated Schiller NN output in CC algorithm.
        <b>Version 2.2.11:</b>
        Added Neural Net for cloud screening on Landsat8.
        <b>Version 2.2.10:</b>
        <b>Version 2.2.9:</b>
        <b>Version 2.2.8:</b>
        <b>Version 2.2.7:</b>
        <b>Version 2.2.6:</b>
        <b>Version 2.2.5:</b>
        <b>Version 2.2.4:</b>
        <b>Version 2.2.3:</b>
        <b>Version 2.2.2:</b>
        <br/>
        Improvements of cloud tests and performance for Landsat 8.
        <b>Version 2.1.2:</b>
        <b>Version 2.1.5:</b>
        <br/>
        Merged latest EVOLUTION changes into master branch, i.e. algorithms for new sensors (AVHRR, MODIS, SeaWIFS).
        <b>Version 2.1.2:</b>
        <br/>
        Uses an updated BEAM MERIS Radiometry module (bug fix in case of very bright nearly saturated pixels).
        <br/>
        <b>Version 2.1.1:</b>
        <br/>
        Initial public release for BEAM 5. Previous releases were for project-internal use only.
        <br/>
    </changelog>

    <dependency>
        <module>beam-idepix-operators</module>
    </dependency>
    <dependency>
        <module>beam-idepix-core</module>
    </dependency>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-unmix</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <!--<dependency>-->
    <!--<module>beam-avhrr-directory-reader</module>-->
    <!--</dependency>-->
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-watermask</module>
    </dependency>
    <dependency>
        <module>beam-meris-radiometry</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>idepix</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>IDEPIX Generic classification of pixels...</text>
            <shortDescr>
                IDEPIX Generic classification of pixels (cloud, snow, ice, land, water) originating from optical
                sensors.
            </shortDescr>
            <mnemonic/>
            <parent>processing.preProcessing</parent>
            <helpID>idepixChain</helpID>
            <placeAfter/>
        </action>
        <action>
            <id>cawaAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixCawaAction</class>
            <text>CAWA (MERIS)...</text>
            <shortDescr>Pixel classification with CAWA algorithm.</shortDescr>
            <mnemonic>W</mnemonic>
            <parent>idepix</parent>
            <helpId>idepixChain</helpId>
        </action>
        <action>
            <id>coastcolourAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixCoastColourAction</class>
            <text>CoastColour (MERIS)...</text>
            <shortDescr>Pixel classification with CoastColour algorithm.</shortDescr>
            <mnemonic>C</mnemonic>
            <parent>idepix</parent>
            <helpId>idepixChain</helpId>
        </action>
        <action>
            <id>avhrracAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixAvhrrAcAction</class>
            <text>LandCover (AVHRR)...</text>
            <shortDescr>Pixel classification with LandCover AVHRR algorithm.</shortDescr>
            <mnemonic>A</mnemonic>
            <parent>idepix</parent>
            <helpId>idepixChain</helpId>
        </action>
        <action>
            <id>globalbedoAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixGlobAlbedoAction</class>
            <text>GlobAlbedo (MERIS, AATSR, VGT, PROBA-V)...</text>
            <shortDescr>Pixel classification with GlobAlbedo algorithm.</shortDescr>
            <mnemonic>G</mnemonic>
            <parent>idepix</parent>
            <helpId>idepixChain</helpId>
        </action>
        <action>
            <id>landsat8Algo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixLandsat8Action</class>
            <text>HighRoc (Landsat 8)...</text>
            <shortDescr>Pixel classification with Landsat 8 algorithm.</shortDescr>
            <mnemonic>L</mnemonic>
            <parent>idepix</parent>
            <helpId>idepixChain</helpId>
        </action>
        <action>
            <id>modisSeawifsAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixModisSeawifsAction</class>
            <text>OC-CCI (MERIS, MODIS, SeaWiFS, VIIRS)...</text>
            <shortDescr>Pixel classification with OC-CCI algorithm (Schiller NNs).</shortDescr>
            <mnemonic>O</mnemonic>
            <parent>idepix</parent>
            <helpId>idepixChain</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/idepix.hs</path>
        </helpSet>
    </extension>

</module>
