<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-idepix-algorithms</symbolicName>
    <version>2.1</version>
    <name>IdePix Algorithms</name>
    <description>
        This module contains the algorithms of IdePix, which is a generic classification tool for pixels originating from optical sensors.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        IdePix 2.1 is the initial public release for BEAM 5. Previous releases were for internal use only.
    </changelog>

    <dependency>
        <module>beam-idepix-operators</module>
    </dependency>
    <dependency>
        <module>beam-idepix-core</module>
    </dependency>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-unmix</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-watermask</module>
    </dependency>
    <dependency>
        <module>beam-meris-radiometry</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>idepix</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>IDEPIX Classification of pixels...</text>
            <shortDescr>IDEPIX Classification of pixels (e.g. clouds, snow, ice) originating from MERIS or SPOT-VGT sensor.</shortDescr>
            <mnemonic/>
            <parent>processing.preProcessing</parent>
            <helpID>IdepixPlugIn</helpID>
            <placeAfter/>
        </action>
        <action>
            <id>coastcolourAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixCoastColourAction</class>
            <text>Water (MERIS)...</text>
            <shortDescr>Pixel classification over water (OC-CCI and CoastColour algorithm)</shortDescr>
            <mnemonic>C</mnemonic>
            <parent>idepix</parent>
            <helpId>IdepixPlugIn</helpId>
        </action>
        <action>
            <id>globalbedoAlgo</id>
            <class>org.esa.beam.idepix.ui.actions.IdepixGlobAlbedoAction</class>
            <text>Land (MERIS, SPOT-VGT)...</text>
            <shortDescr>Pixel classification over land (LC-CCI and GlobAlbedo algorithm)</shortDescr>
            <mnemonic>G</mnemonic>
            <parent>idepix</parent>
            <helpId>IdepixPlugIn</helpId>
            <placeAfter>coastcolourAlgo</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/idepix.hs</path>
        </helpSet>
    </extension>

</module>
