<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-idepix</symbolicName>
    <version>1.3-SNAPSHOT</version>
    <name>Generic classification of pixels</name>
    <description>Generic classification of pixels (cloud, snow, ice, land, water) originating from optical sensors.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

	<dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>	
	<dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-watermask</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>idepix</id>
            <class>org.esa.beam.idepix.ui.ComputeChainAction</class>
            <text>IDEPIX Generic classification of pixels...</text>
            <shortDescr>
                IDEPIX Generic classification of pixels (cloud, snow, ice, land, water) originating from optical sensors.
            </shortDescr>
            <mnemonic/>
            <parent>tool</parent>
            <helpID>idepixChain</helpID>
            <placeAfter/>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/idepix.hs</path>
        </helpSet>
    </extension>

</module>
