<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-idepix-operators</symbolicName>
    <version>2.1-SNAPSHOT</version>
    <name>IdePix Operators</name>
    <description>
        This module contains the operators of IdePix, which is a generic classification tool for pixels originating from optical sensors.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        IdePix 2.1 is the initial public release for BEAM 5. Previous releases were for internal use only.
    </changelog>

    <dependency>
        <module>beam-idepix-core</module>
    </dependency>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-unmix</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-watermask</module>
    </dependency>
    <dependency>
        <module>beam-meris-radiometry</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR</categories>

</module>
