<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-idepix-operators</symbolicName>
    <version>2.2.32-SNAPSHOT</version>
    <name>Idepix Operators</name>
    <description>
        Idepix internal operators. Idepix is a generic pixel identification and classification algorithm for optical Earth observation sensors.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <b>Version 2.1.2:</b><br/>
        Uses an updated BEAM MERIS Radiometry module (bug fix in case of very bright nearly saturated pixels).<br/>
        <b>Version 2.1.1:</b><br/>
        Initial public release for BEAM 5. Previous releases were for project-internal use only.<br/>
    </changelog>

    <dependency>
        <module>beam-idepix-core</module>
    </dependency>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-unmix</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-watermask</module>
    </dependency>
    <dependency>
        <module>beam-meris-radiometry</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR,Idepix</categories>

</module>
