<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-cc-schiller</symbolicName>
    <version>3.0-EVOLUTION-SNAPSHOT</version>
    <name>Cloud Classification Schiller</name>
    <description>Cloud Classification of H.Schiller using neural networks.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        - Change in 3.0-EVOLUTION-SNAPSHOT: added new MODIS/SeaWiFS algorithm for OC-CCI
        - Created new branch EVOLUTION, to be used for BC internal development.
        (MASTER branch will from now on be used for public releases)
        - Set initial version to 2.2-EVOLUTION-SNAPSHOT.
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <categories>Application,Processor,MERIS,Cloud</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>Meris.CCNNHS</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>Meris.CCNNHS</operatorName>
            <text>CCNNHS Cloud Classification (MERIS)</text>
            <shortDescr>
                MERIS cloud classification processor using neural networks (CCNNHS algorithm).
            </shortDescr>
            <mnemonic/>
            <parent>processing.preProcessing</parent>
            <placeAfter/>
        </action>

    </extension>

    <!--<extension point="beam-ui:helpSets">-->
    <!--<helpSet>-->
    <!--<parent>beam-help</parent>-->
    <!--<path>doc/help/idepix.hs</path>-->
    <!--</helpSet>-->
    <!--</extension>-->

</module>
